body {
  background: #f2f2f2;
  padding-bottom: 1.2rem;
}
.main {
  width: 100%;
  min-height: 5.22rem;
  overflow: hidden;
  position: relative;
}
.bg_color {
  width: 100%;
  height: 5.22rem;
  background: linear-gradient(111.15deg, #37a6fd 1.43%, #087bef 92.24%);
  position: absolute;
  left: 0rem;
  top: 0rem;
}

.switch_account {
  box-sizing: border-box;
  width: 92%;
  margin: 0.4rem auto 0rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0rem;
  position: relative;
  z-index: 10;
}
.switch_account > span:nth-child(1) {
  font-weight: 700;
  font-size: 0.56rem;
  color: #ffffff;
}
.switch_account_btn {
  width: 1.84rem;
  height: 0.78rem;
  background: rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  border-radius: 0.14rem;
  text-align: center;
  line-height: 0.78rem;
  font-weight: 600;
  font-size: 0.36rem;
  color: #ffffff;
}
/* 切换账号 */

.flex_between {
  width: 92%;
  margin: 0.4rem auto 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.flex_between > a {
  width: 49%;
  height: 1.1rem;
  line-height: 1.1rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  font-weight: 600;
  font-size: 0.36rem;
  color: #ffffff;
  border-radius: 0.14rem;
}
.flex_between > a:nth-child(1) {
  background: url('../../images/home/a_bg3.png') no-repeat center center;
  background-size: 100% 100%;
}
.flex_between > a:nth-child(2) {
  background: url('../../images/home/a_bg2.png') no-repeat center center;
  background-size: 100% 100%;
}

.account_information {
  width: 92%;
  margin: 0.3rem auto 0rem;
  border-radius: 0.14rem;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding: 0.48rem 4% 0.4rem 4%;
}

.data_info {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0rem;
}
.data_info:after {
  content: '';
  display: block;
  width: 0.02rem;
  height: 100%;
  background-color: #c4c4c4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.info_item {
  width: 50%;
  box-sizing: border-box;
}
.info_item + .info_item {
  padding-left: 0.3rem;
}
.info_item > span {
  font-weight: 600;
  font-size: 0.36rem;
  color: #333333;
  display: block;
}
.info_item > p {
  display: block;
  margin-top: 0.28rem;
  font-weight: 600;
  font-size: 0.3rem;
  color: #999999;
}
.info_item > p > b {
  font-weight: 600;
  font-size: 0.68rem;
  color: #333333;
}

.account_information_btns {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account_information_btn_1 {
  width: 1.82rem;
  height: 1rem;
  border: 0.06rem solid #0ebe3b;
  box-sizing: border-box;
  border-radius: 0.1rem;
  color: #626262;
  font-weight: 600;
  font-size: 0.42rem;
  text-align: center;
  line-height: 0.92rem;
  letter-spacing: 2px;
}
.account_information_btn_2 {
  width: calc(100% - 2.02rem);
  height: 1rem;
  background-color: #0ebe3b;
  border: 1px solid #1cc546;
  box-sizing: border-box;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 0.92rem;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.42rem;
  box-shadow: 0px 0.04rem 0.2rem rgba(0, 0, 0, 0.12);
}
.account_information_btn_2 > span {
  display: inline-block;
  padding-left: 0.45rem;
  background-image: url('../../images/home/money.png');
  background-position: left center;
  background-size: 0.32rem 0.41rem;
  background-repeat: no-repeat;
}

.look_btn_2 {
  border: 0.06rem solid #087cf0;
}
.quantity_of_flow {
  background-color: #087cf0;
  border: 1px solid #087cf0;
}
.quantity_of_flow > span {
  background-image: url('../../images/home/quantity_of_flow.png');
  background-size: 0.32rem 0.37rem;
}

.handle_box {
  width: 92%;
  margin: 0.3rem auto 0rem;
  border-radius: 0.14rem;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding: 8% 15% 8% 15%;
}
.handle_box ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.handle_box ul li {
  font-size: 0rem;
  width: 35%;
  text-align: center;
  margin-bottom: 0.5rem;
}
.handle_box ul li a {
  display: block;
}
.handle_box ul div {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0rem auto;
  text-align: center;
}
.handle_box ul div img {
  max-width: 100%;
}
.handle_box ul span {
  display: inline-block;
  font-size: 0.38rem;
  color: #333333;
}
.more {
  display: block;
  font-size: 0.32rem;
  font-weight: 500;
  color: #2eaaff;
  text-align: center;
  margin-top: 0.3rem;
}
